<section id="gallery_section"></section>

    <div class="linimg">
        <div class="imgbox primera">
            <img class="imagen " src="../../../assets/images/t5.jpg">
        </div>
        <div class="imgbox">
            <img class="imagen" src="../../../assets/images/t6.jpg">
        </div>
        <div class="imgbox">
            <img class="imagen" src="../../../assets/images/t7.jpg">
        </div>
        <div class="imgbox ultima">
            <img class="imagen " src="../../../assets/images/t8.jpg">
        </div>

    </div>
    <br>
    
    <div class="linimg">
        <div class="imgbox primera">
            <img class="imagen " src="../../../assets/images/t1.jpg">
        </div>
        <div class="imgbox">
            <img class="imagen" src="../../../assets/images/t2.jpg">
        </div>
        <div class="imgbox">
            <img class="imagen" src="../../../assets/images/t3.jpg">
        </div>
        <div class="imgbox ultima">
            <img class="imagen " src="../../../assets/images/t4.jpg">
        </div>
    </div>
<br>