<section id="comfort_section"></section>
<div class="container px-4 py-5" id="featured-3" style="text-align: center;">
    <h2 class="pb-2 border-bottom text-center">Your confort is Our Priority</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <a class="icon-color "> <i class="fas fa-sms fa-3x"></i> </a>
        <h2>CONFERENCE ROOMS</h2>
        <p>YOU CAN BOOK THE ROOM FOR CONFERENCE, PRESENTATION, ETC</p>
      
      </div>
      <div class="feature col">
        <a class="icon-color"><i class="fas fa-wifi fa-3x"></i></a>
        <h2>HIGH SPEED INTERNET</h2>
        <p>WE PROVIDE YOU WITH A FREE HIGH SPEED INTERNET 24/7</p>
        
      </div>
      <div class="feature col">
        <a class="icon-color"><i class="fas fa-envelope fa-3x"></i></a>
        <h2>MAIL SERVICE</h2>
        <p>WE OFFER MAILING ADDRESS AND HOLD YOUR MAIL UNTIL YOU ARE A MEMBER OF OUR COWORKING</p>
        
      </div>
    </div>
  
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <a class="icon-color"><i class="fas fa-book fa-3x"></i></a>
        <h2>EQUIPPED KITCHEN</h2>
        <p>YOU CAN MAKE A COFFE BREAK OR HAVE A FULL DINNER DURING THE DAY USING OUR KITCHEN</p>
      
      </div>
      <div class="feature col">
        <a class="icon-color"><i class="fas fa-mug-hot fa-3x"></i></a>
        <h2>ORGNIC TEA & COFFEE</h2>
        <p>WE PROVIDE OUR VISITROS WITH ORGANIC TEA AND COFEE THAT THEY FEEL CONFORTABLE. </p>
        
      </div>
      <div class="feature col">
        <a class="icon-color"><i class="fas fa-tv fa-3x"></i></a>
        <h2>EVENT SPACE</h2>
        <p>IT IS AVAILABLE TO RENT THE SPACE FOR HOLDING MEETINGS, EVENTS, ETC.</p>
        
      </div>
    </div>
  
  
  </div>