<section id="aboutup_section"></section>
<div class="cuadroup">
    <div class="row" >
        <div class="col-md-auto" style="margin: 15px;">
            <a class="icon-color "><i class="fas fa-desktop fa-3x" style="color: white;"></i></a>
            <br><br>
            <h3>WORKING PLACE</h3>
            <br>
            <p> We provide you with conveninet working <br>place that your work is productive</p>
        </div>
    <div class="col-md-auto" style="margin: 15px;">
        <a class="icon-color"><i class="fas fa-columns fa-3x" style="color: white;"></i></a>
        <br><br>
            <h3>MAKING PROJECTS</h3>
            <br>
            <p> In our coworking space you can<br>communicate and collaborate with people</p>
    </div>
    <div class="col-md-auto" style="margin: 15px;">
        <a class="icon-color"><i class="fas fa-rocket fa-3x" style="color: white;"></i></a>
        <br><br>
            <h3>GET SUCCESSFUL</h3>
            <br>
            <p> Your will improve your  prodesional indicators <br>working in our coworking</p>
    </div>
    </div>
</div>

