<section id="home_section"></section>
   <div class="fondohome">

        <!-- Se agrego la nav dar dentro del componente de home-->

        <app-navbar></app-navbar>  

        <br>
       <div class="text">
           <h5 > PROBABLY THE BEST</h5>
           <h1 style="font-size: 75px; color: white;"> Creative Space</h1>
           <p>Inventore veritatis et quasi architecto beatae vitae dicta </p>
           <p>sunt explicabo
               enim ipsam.
           </p>
           
           <button class="botonazo "> Get Started </button>
       </div>
   </div> 


   