<section id="reservation_section"></section>
<div class="fondoabout">
    <div class="text">
            <h6 style="color: turquoise;"> WE ARE OPEN FOR EVERYBODY</h6>
            <br>
            <h5> You can reserve for yourself and your team <a style="color: turquoise;"> Working Space</a><br>
            By taking a subscription for any period and getting a discount for an additional week of coworking.</h5>
            <br>
            <button class="botonazo"> MAKE A RESERVATION </button>

</div>

