<section id="about_section"></section>

<div class="fondoabout">
    <div class="text">
        <div id="left">
            <h6> WHO WE ARE</h6>
            <h5> We're Creative</h5>
            <h5> Coworking Working</h5>
            <h5> Space For Sucsess</h5>
        </div>
        
        <div id="center">
            <p style="color: white; text-align: justify;">
                Coworking is not only about the physical place, but <br>
                about establishing the coworking community first. Its<br>
                benefits can already be experienced outside of its <br>
                places,and it is recommended.<br>
            </p>
            <p style="color: white; text-align: justify;">
                To start with building a coworking communityu first <br>
                before consifering opening a Coworking place.<br>
            </p>
        </div>
        
        <div id="right">
            <p style="color: white; text-align: justify;"> However, some coworking places don't build a <br>
                community , they just get a part od an exiting one by <br>
                combining their opening with <br>
            </p>
            <p style="color: white; text-align: justify;">
                An event which attracts their target group. Real-state <br>
                centric coworking spaces are about selling desks firs, <br>
                with building community as a secondary goal.
            </p>
        </div>

       <br>
       <br>
       <br>
    </div>
</div>

