<section id="contact_section"></section>
   <div class="fondocont">
       <div class="text">
           <h6 style="color: turquoise;" > WE ENJOY WORKING</h6>
           <h5 style="font-size: 75px;"> What People Say</h5>
           <p>Super! This theme is ideal for our CoWorking project, where we need to list all types of our <br>
            services, features and benefits. Thank you  guys for such an awesome site and your efficent <br>
            help with setting things up. You are the best</p>

            <img src='../../../assets/images/perfil.jpg' class='imgRedonda' />
           <br>
           <h6 style="color: turquoise;" > EMMA DOE</h6>
           <p>Company CEO</p>
       </div>
   </div> 
