
<div class="headerstyle">
  <header>
    <div class="divcont">
      <ul class="lista"> 
        <li><i class="fa fa-phone" aria-hidden="true"></i> +00 (123) 456 7890  &nbsp;&nbsp; </li>
        <li > <i class="fas fa-envelope"></i>  {{"info@company.com" | uppercase }} &nbsp;&nbsp;</li>
        <li ><i class="fas fa-directions"></i> {{ "121 WALLSTREET STREET, NY YORK, USA"| uppercase }}&nbsp;&nbsp;</li>
      </ul>
    </div>
    <div class="divcont2">
      <ul class="lista2">
        <li > <i class="fab fa-instagram" aria-hidden="true"></i> &nbsp;</li>
        <li ><i class="fab fa-twitter" aria-hidden="true"></i>&nbsp;</li>
        <li > <i class="fab fa-facebook" aria-hidden="true"></i>&nbsp;</li>
        <li > <i class="fab fa-linkedin" aria-hidden="true"></i></li>
    
      </ul>
    </div>
  </header>
</div>
  